{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Liens index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Lien_url</th>
            <th>Lien_titre</th>
            <th>Lien_desc</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for lien in liens %}
            <tr>
                <td>{{ lien.id }}</td>
                <td>{{ lien.lienUrl }}</td>
                <td>{{ lien.lienTitre }}</td>
                <td>{{ lien.lienDesc }}</td>
                <td>
                    <a href="{{ path('app_liens_show', {'id': lien.id}) }}">show</a>
                    <a href="{{ path('app_liens_edit', {'id': lien.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_liens_new') }}">Create new</a>

    <br><br>

    {# Bouton vers la connexion visible seulement si pas connecté #}
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('app_logout') }}" class="btn btn-warning">Déconnexion</a>
        {% else %}
            <a href="{{ path('app_login') }}" class="btn btn-warning">Connexion</a>
    {% endif %}

    {# Bouton vers l’admin visible seulement si connecté et ROLE_ADMIN #}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_admin') }}" class="btn btn-warning">Administration</a>
    {% endif %}
{% endblock %}
