{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <body class="admin-page">
    <h1 class="admin-title">Liens index</h1>

    <a class="btn-create admin-link" href="{{ path('app_liens_new') }}">Nouveau</a>
    <br>

    <table class="admin-table">
        <thead>
        <tr>
            <th class="admin-th">Id</th>
            <th class="admin-th">URL</th>
            <th class="admin-th">Titre</th>
            <th class="admin-th">Description</th>
            <th class="admin-th">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for lien in liens %}
            <tr class="admin-row">
                <td class="admin-td">{{ lien.id }}</td>
                <td class="admin-td">{{ lien.lienUrl }}</td>
                <td class="admin-td">{{ lien.lienTitre }}</td>
                <td class="admin-td">{{ lien.lienDesc }}</td>
                <td class="admin-td">
                    <a class="btn-show" href="{{ path('app_liens_show', {'id': lien.id}) }}">Montrer</a>
                    <a class="btn-edit" href="{{ path('app_liens_edit', {'id': lien.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td class="no-records" colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1 class="admin-title">User index</h1>

    <a class="btn-create admin-link" href="{{ path('app_user_new') }}">Nouveau</a>
    <br>

    <table class="admin-table">
        <thead>
        <tr>
            <th class="admin-th">Id</th>
            <th class="admin-th">Username</th>
            <th class="admin-th">Roles</th>
            <th class="admin-th">Password</th>
            <th class="admin-th">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="admin-row">
                <td class="admin-td">{{ user.id }}</td>
                <td class="admin-td">{{ user.username }}</td>
                <td class="admin-td">{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td class="admin-td">{{ user.password }}</td>
                <td class="admin-td">
                    <a class="btn-show" href="{{ path('app_user_show', {'id': user.id}) }}">Montrer</a>
                    <a class="btn-edit" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td class="no-records" colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br><br>
    <br><br>
    <br><br>

</body>
{% endblock %}

