{% extends 'base.html.twig' %}

{% block title %}Détails de l'utilisateur{% endblock %}

{% block body %}

    <div class="show-container">
        <h2 class="show-title">{{ user.username }}</h2>
        <p class="show-desc">{{ user.roles ? user.roles|json_encode : '' }}</p>

        <div class="show-info">
            <p><strong>ID:</strong> {{ user.id }}</p>
        </div>

        <div class="show-buttons">
            <a href="{{ path('app_user_index') }}" class="show-btn btn-create">Retour à la liste</a>
            <a id="btn-oui" href="{{ path('app_user_edit', {'id': user.id}) }}" class="show-btn btn-edit">Modifier</a>

            {# Delete form avec bouton stylisé #}
            {{ include('user/_delete_form.html.twig', {
                'button_class': 'show-btn show-delete'
            }) }}
        </div>
    </div>
{% endblock %}
